<ion-header>
  <ion-toolbar class="head">
    <ion-title *ngIf="!doctor">User Sign In</ion-title>
    <ion-title *ngIf="doctor">Doctor Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-input placeHolder="Enter Email"  [(ngModel)]="uName" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-input type="password" placeHolder="Password"  [(ngModel)]="password" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!doctor">
    <ion-col>
    </ion-col>
    <ion-col size="8" class="button">
      <ion-button class="signIn" (click)="userSignIn()">Sign In</ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="doctor">
    <ion-col>
    </ion-col>
    <ion-col size="8" class="button">
      <ion-button class="signIn" (click)="doctorSignIn()">Sign In</ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!doctor">
    <ion-col class="text">
      <p>Sign in as Doctor !<b (click)="check()"> Click here</b></p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="doctor">
    <ion-col class="text">
      <p>Not Doctor?<b (click)="check()"> Click here</b></p>
    </ion-col>
  </ion-row>
  <p class="forgot" routerLink="/forget-password">Forgot Password ?</p>
  <p class="text">click here for<b routerLink="/sign-up"> Sign Up</b></p>
</ion-content>