.head {
    text-align: center;
    --background: white;
  }
ion-content {
    --background: white;
        .card{
            width: 44%;
            float: left;
            .img {
                width: 200px;
                height: 150px;
            }
        }
}
// .my-custom-modal-css .modal-wrapper {
//     height: 20%;
//     top: 80%;
//     position: absolute; 
//     display: block;  
//  }
::ng-deep .my-custom-modal-css .modal-wrapper {
    height: 80%;
    width: 80%;
    border-radius: 10px;
    position: absolute; 
    display: block;  
 }