<ion-header>
  <ion-toolbar class="head">
    <ion-title>mainUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Previous Consultancy
    </ion-list-header>

    <ion-item (click)="openModal()">
      <ion-avatar slot="start">
        <img src="../../assets/user.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Name</h2>
        <h3>specialty</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/user.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/user.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/user.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <p>Medical Specialities</p>
  <ion-card class="card" (click)="category()">
    <img src="../../assets/logos/gyno.jpg" class="img"/>
    <ion-card-header>
      <ion-card-title>Gynecology</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <img src="../../assets/logos/psy.jpg" class="img"/>
    <ion-card-header>
      <ion-card-title>Psycharity</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <img src="../../assets/logos/gen.jpg" class="img"/>
    <ion-card-header>
      <ion-card-title>General med</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <img src="../../assets/logos/uro.jpg" class="img"/>
    <ion-card-header>
      <ion-card-title>Urology</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>