<ion-header>
  <ion-toolbar>
    <ion-title>doctor list by specific categaory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <ion-item (click)="openModal()">
    <ion-avatar slot="start">
      <img src="../../assets/user.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Name</h2>
      <h3>specialty</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
</ion-content>
