<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title>my-modal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        {{modalTitle}}
      </ion-col>
      <ion-col>
        <ion-button (click)="closeModal($event)" fill="clear" class="closeButton">
          <ion-icon name="close-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        for chat
      </ion-col>
      <ion-button (click)="chat()">Chat</ion-button>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>