<ion-header>
  <ion-toolbar class="head">
    <ion-title>WELCOME</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8" class="talk">
   <p class="p">Talk to specilist doctor 24x7 from top hospitals in 30 minutes</p><br>
   <ion-button class="talkto">Talk to doctor</ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" >
   <p class="my">My Consultations</p><br>
   <ion-col>
  </ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="4" >
<p>Doctor Name</p>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col size="4">
      <a>Consult Again</a>
    </ion-col>
  </ion-row>


</ion-content>