.head {
    text-align: center;
    --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
    color: rgba(9, 109, 59, 0.993);
  }
ion-content {
    --background: rgb(245, 243, 243);
      .inputBox{
          border: 1px solid rgb(161, 159, 159);
          margin-top: 5px;
          border-radius: 5px;
          padding: 5px;
      }     
      .talk {
        border: 1px solid rgb(255, 255, 255);
        margin-top: 51px;
        border-radius: 22px;
        padding: 40px;
      border-style: ridge;
      text-align: center;

      .p {
        font-size: 30px;
        text-align: center;
        color: rgba(9, 109, 59, 0.993);
      }
      .talkto {
        --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
        color: rgba(9, 109, 59, 0.993);
        font-weight: 400;
      }
      }
      .my {
        font-size: 20px;
        text-align: center;
        color: rgba(9, 109, 59, 0.993);
    }
}