<ion-header>
  <ion-toolbar class="head">
    <ion-title>SIGN-UP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="4">
      <ion-input placeHolder="First name" class="inputBox"></ion-input>
    </ion-col>
    <ion-col size="4">
      <ion-input placeHolder="Last name" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
        <ion-datetime class="select"  placeholder="Date of birth" ></ion-datetime>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-select class="inputBox" placeholder="Gender">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="m">Other</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-input placeHolder="Email" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-input placeHolder="Phone" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-input placeHolder="Password" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <ion-input placeHolder="Confirm Password" class="inputBox"></ion-input>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text">
      <p>Are You Doctor <ion-checkbox class="check" disabled="false" (ionChange)="myDoctor()"></ion-checkbox>
      </p>
    </ion-col>
  </ion-row>
  <div *ngIf="doctor">
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8">
        <ion-input placeHolder="Qualification" class="inputBox"></ion-input>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8">
        <ion-input placeHolder="Registration Number" class="inputBox"></ion-input>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8">
      <p class="text"> Please send your resume and documents at doctor@gmail.com for verification </p>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  </div>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="8" class="button">
      <ion-button class="signUp" (click)="signUp()">Sign Up</ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text">
      <p>Already have an account? <b routerLink="/sign-in">Sign in</b>.</p>
    </ion-col>
  </ion-row>
</ion-content>