.head {
  text-align: center;
  --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
  color: rgba(9, 109, 59, 0.993);
}
ion-content {
  --background: rgb(245, 243, 243);
      .inputBox{
        border: 1px solid rgb(161, 159, 159);
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px;
        color: rgb(51, 50, 50);         
      } 
      .button {
        text-align: center;
        .signUp {
            --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
            color: rgba(9, 109, 59, 0.993);
            font-weight: 400;
        }
     
      }
      .select{
        border: 1px solid rgb(161, 159, 159);
        margin-top: 5px;
        border-radius: 5px;
        padding: 10px;
        color: rgb(153, 153, 153); 
      } 
      .text {
        font-size: 20px;
        text-align: center;
        color: rgba(9, 109, 59, 0.993);
    
      }
      .ex{
        font-size: 20px;
        text-align: start;
        font-weight: bold;
        color: rgba(9, 109, 59, 0.993);
        
      }
      .check{
        background: #FFFFFF;
        border-width: 1px !important;
        border-style: solid !important;
        border-radius: 4px;
        border-color :rgba(9, 109, 59, 0.993)!important;
        --height : 25px;
        --width: 25px;
        --checkmark-color:rgba(9, 109, 59, 0.993);
        --background-checked: white;
        --border-color: #FFFFFF;
        --border-color-checked :#FFFFFF;
      }
    .link {
      font-size: 20px;
      text-align: left;
      color: rgba(8, 212, 110, 0.61);
      font-weight: 600;
  }    
}
