.head {
  text-align: center;
  --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
  color: rgba(9, 109, 59, 0.993);
}
ion-content {
  --background: rgba(17, 218, 117, 0.61);
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    .img {
      height: 150px;
      width: 150px;
    }
    .p {
      font-size: 22px;
      color: rgba(9, 109, 59, 0.993);
    }
  }
}
ion-col {
  padding: 1px;
  .button {
    width: 100%;
    float: left;
    height: 60px;
    margin: 0px;
    background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
    --color: rgba(9, 109, 59, 0.993);
    --background: rgba(8, 168, 88, 0.61);
    --border-radius: 0px;
  }
}