<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title>
      Online Doctor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../assets/icon/docs.png" class="img"/>
    <p class="p">Online Doctor</p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button class="button" routerLink="/sign-in" (click)=" getdata()">Sign In</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" routerLink="/sign-up" (click)="saveUserData()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>