<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title>
     forget Password
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="container">
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="10">
        <ion-input placeHolder="Enter Email"  [(ngModel)]="email" class="inputBox"></ion-input>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="8" class="button">
        <ion-button class="find" (click)="forgetPassword()">Find Email</ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <p class="signIn" routerLink="/sign-in">Sign In</p>
  </div>
</ion-content>