.head {
    text-align: center;
    --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
    color: rgba(9, 109, 59, 0.993);
}
ion-content {
    --background: rgb(245, 243, 243);
    .container {
        margin-top: 20px;
        .inputBox{
            border: 1px solid rgb(161, 159, 159);
            margin-top: 5px;
            border-radius: 5px;
            padding: 5px;
        } 
        .button {
            text-align: center;
          .find {
              --background: linear-gradient(to right,  rgba(10, 131, 70, 0.993), rgba(16, 238, 127, 0.993),  rgba(10, 131, 70, 0.993));
              color: rgba(9, 109, 59, 0.993);
              font-weight: 400;
          }
        } 
        .signIn {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: rgba(9, 109, 59, 0.993); 
        } 
    }
}      